########################################################
# THIS FILE WAS MADE BY THE  SANGOMA FREEPBX INSTALLER #
########################################################
#
# Check if this is Original Goods at https://FreePBX.org
#
# Date: {{ str_script_build_fakedate }}
# Script Name: {{ str_script_name }}
# Script Build: {{ str_script_build }}
# Script Version: {{ str_script_version }}
# Role SHA256: {{ str_sngfdx_sha256 }}
# FreePBX Version: {{ str_freepbx_version }}
# Spiciness: {{ str_spice }}
# Debian input ISO: {{ fn_iso_input|basename }}
# Debian input ISO for DAHDI: {{ fn_dahdi_iso_input|basename }}
# Debian input mini ISO for PXE: {{ fn_mini_iso_input|basename }}
# SFPBX output ISO: {{ fn_iso_output }}
# Others:
# - bool_embed_apt_key={{ bool_embed_apt_key|lower }}
# - bool_diy={{ bool_diy|lower }}
# - str_host_name={{ str_host_name }}
# - str_locked_kernel={{ str_locked_kernel }}
# - int_mb_ssd_wear={{ int_mb_ssd_wear }}
# - fn_netboot_initrd={{ fn_netboot_initrd|basename }}
# - int_passbytes={{ int_passbytes }}
# - bool_pause_reboot={{ bool_pause_reboot|lower }}
# - str_sng_opts={{ str_sng_opts }}
# - str_timezone={{ str_timezone }}
# - fn_wallpaper={{ fn_wallpaper }}
# - str_whoami={{ str_whoami }}
#
# FFFF RR   EEEE EEEE PP  BB  X X
# FFF  RRR  EEE  EEE  PPP BBB  X
# F    R  R EEEE EEEE P   BB  X X
#
########################################################

