{% include 'header.j2' %}

{% if item.disk_type == "nvme" %}
    {% set disk_suffix="0n1" %}
{% else %}
    {% set disk_suffix="da" %}
{% endif %}

# one disk
d-i partman-auto/disk string /dev/{{ item.disk_type }}{{ disk_suffix }}

# typically grub installed on '{{ item.disk_type }}{{ disk_suffix }}'
d-i grub-installer/bootdev string /dev/{{ item.disk_type }}{{ disk_suffix }}
