#!/bin/sh
{% include 'header.j2' %}

# too soon for logger, this line never appears in the log, bummer
logger -t sng "BEGIN PRESEED CHOOSER COMMAND"

logger -t sng "SPICE ${spicelevel}"

logger -t sng "DISK ${sngdiskrecipe}"

echo "preseed_partman_start.cfg"
logger -t sng "CHOSE preseed_partman_start.cfg"

echo "preseed_spice_${spicelevel}.cfg"
logger -t sng "CHOSE preseed_spice_${spicelevel}.cfg"

raid=true

# TODO: nvm "disks" like the UC25 do not show up yet
# need to load mmc-modules earlier... or move the chooser around...
# until then dcount=0 on these small devices :-/
dtype=$(list-devices disk | grep -e 'da$' -e 'nvme[0-9]n[0-9]$' | cut -f3 -d/ | head -c 1)
dcount=$(list-devices disk | grep -e 'd[a-b]$' -e 'nvme[0-9]n[0-9]$' | wc -l)

if [ $dcount -le 1 ]; then
	raid=false
else
	for disk in $(list-devices disk | grep -e 'd[a-b]$' -e 'nvme[0-9]n[0-9]$' | cut -f3 -d/); do
		size=$(cat /sys/block/${disk}/size)
		# TODO: compare sizes of disks and check within 5% diff for RAID
		# FreePBX 60 single disk size is 250069680 (120GB)
		# in lab, using a thumb drive at 16GB, and that appears as a disk
		if [ $size -lt 213456789 ]; then
			raid=false
		fi
	done
fi

if $raid; then
	echo "preseed_partman_raid.cfg"
	logger -t sng "CHOSE preseed_partman_raid.cfg"
	if [ "$dtype" = "v" ]; then
		echo "preseed_partman_raid_disk_v.cfg"
		logger -t sng "CHOSE preseed_partman_raid_disk_v.cfg"
	elif [ "$dtype" = "x" ]; then
		echo "preseed_partman_raid_disk_xv.cfg"
		logger -t sng "CHOSE preseed_partman_raid_disk_xv.cfg"
	elif [ "$dtype" = "n" ]; then
		echo "preseed_partman_raid_disk_nvme.cfg"
		logger -t sng "CHOSE preseed_partman_raid_disk_nvme.cfg"
	else
		echo "preseed_partman_raid_disk_s.cfg"
		logger -t sng "CHOSE preseed_partman_raid_disk_s.cfg"
	fi
	if [ "$spicelevel" = "int" ]; then
		disk_part=$(list-devices disk | grep -e 'da$' -e 'nvme[0-9]n[0-9]$' | cut -f3 -d/)
                disk_size=$(awk '{print $1 * 512/ 1024/ 1024/ 1024 }' /sys/block/${disk_part}/size)
                result=$(eval "awk 'BEGIN {
               		 if ($disk_size <= 250) print 1;
                	 else if ($disk_size > 250 && $disk_size <= 500) print 2;
                	 else print 3;
               		 }'")
           	if [ "$result" -eq 1 ] || [ "$disk_part" = "" ]; then
                	echo "preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_250.cfg"
                	logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_250.cfg"
        	elif [ "$result" -eq 2 ]; then
                	echo "preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_500.cfg"
                	logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_500.cfg"
        	else
                	echo "preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_1TB.cfg"
                	logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}_1TB.cfg"
        	fi
	else
		echo "preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}.cfg"
		logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}raid_${spicelevel}.cfg"
	fi
else
	echo "preseed_partman_nonraid.cfg"
	logger -t sng "CHOSE preseed_partman_nonraid.cfg"
	if [ "$dtype" = "v" ]; then
		echo "preseed_partman_nonraid_disk_v.cfg"
		logger -t sng "CHOSE preseed_partman_nonraid_disk_v.cfg"
	elif [ "$dtype" = "x" ]; then
		echo "preseed_partman_nonraid_disk_xv.cfg"
		logger -t sng "CHOSE preseed_partman_nonraid_disk_xv.cfg"
	elif [ "$dtype" = "n" ]; then
		echo "preseed_partman_nonraid_disk_nvme.cfg"
		logger -t sng "CHOSE preseed_partman_nonraid_disk_nvme.cfg"
	else
		echo "preseed_partman_nonraid_disk_s.cfg"
		logger -t sng "CHOSE preseed_partman_nonraid_disk_s.cfg"
	fi
        if [ "$spicelevel" = "int" ]; then
                disk_part=$(list-devices disk | grep -e 'da$' -e 'nvme[0-9]n[0-9]$' | cut -f3 -d/)
                disk_size=$(awk '{print $1 * 512/ 1024/ 1024/ 1024 }' /sys/block/${disk_part}/size)
		        result=$(eval "awk 'BEGIN {
          		       if ($disk_size <= 120) print 1;
                	       else print 2;
                	       }'")
        	if [ "$result" -eq 1 ] || [ "$disk_part" = "" ]; then
                	echo "preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}_120.cfg"
                	logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}_120.cfg"
        	else
                	echo "preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}_250.cfg"
                	logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}_250.cfg"
        	fi
	else
		echo "preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}.cfg"
		logger -t sng "CHOSE preseed_partman_recipe_${sngdiskrecipe}nonraid_${spicelevel}.cfg"
	fi
fi
	
echo "preseed_partman_finish.cfg"
logger -t sng "CHOSE preseed_partman_finish.cfg"

logger -t sng "END PRESEED CHOOSER COMMAND"
